@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    width: 100vw;
    margin: 0 auto;
    /*background-color: beige;*/
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    font-family: 'Lobster', sans-serif;
}

.container {
    width: 50%;
    margin: 10vh auto;
    text-align: center;
}

.container h1 {
    font-family: 'Lobster';
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 1em
}

form input {
    margin-bottom: 2em;
    border-radius: 5px;
    padding: 0.5em;
}

form button {
    border-radius: 5px;
    padding: 0.5em;
    background-color: #B4AAA0;
}

ul li {
    list-style: none;
    border-radius: 5px;
    padding: 0.1em;
    font-size: 2em;
}

#toDoList button {
    background-color: #B4AAA0;
    border-radius: 5px;
    padding: 0.5em;
    margin-left: 5em;
}

#toDoList button:hover, form button:hover {
    cursor: pointer;
}


