body {
    background-color: beige;
    font-size: 1em;
}

h1 {
    text-align: center;
    padding: 1em;
}

#tabellone {
    text-align: center;
}

.cellaTabellone {
    line-height: 4;
    padding: 0.1em;
    text-align: center;
    background-color: yellow;
    width: 4em;
    height: 4em;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
}

.cellaTabellina {
    text-align: center;
    background-color: green;
    width: 15em;
    height: 2em;
    display: inline-block;
    border: 1px solid black;
}

/* Color Theme Swatches in Hex */
.i-numeri-della-tombola-1-hex { color: #D90416; }
.i-numeri-della-tombola-2-hex { color: #D9042B; }
.i-numeri-della-tombola-3-hex { color: #A60321; }
.i-numeri-della-tombola-4-hex { color: #D9B596; }
.i-numeri-della-tombola-5-hex { color: #A63F03; }

/* Color Theme Swatches in RGBA */
.i-numeri-della-tombola-1-rgba { color: rgba(216, 4, 22, 1); }
.i-numeri-della-tombola-2-rgba { color: rgba(216, 4, 43, 1); }
.i-numeri-della-tombola-3-rgba { color: rgba(165, 3, 33, 1); }
.i-numeri-della-tombola-4-rgba { color: rgba(216, 180, 149, 1); }
.i-numeri-della-tombola-5-rgba { color: rgba(165, 62, 3, 1); }

/* Color Theme Swatches in HSLA */
.i-numeri-della-tombola-1-hsla { color: hsla(354, 96, 43, 1); }
.i-numeri-della-tombola-2-hsla { color: hsla(348, 96, 43, 1); }
.i-numeri-della-tombola-3-hsla { color: hsla(348, 96, 33, 1); }
.i-numeri-della-tombola-4-hsla { color: hsla(28, 46, 71, 1); }
.i-numeri-della-tombola-5-hsla { color: hsla(22, 96, 33, 1); }
